workflows/order-processing.json
{
  "name": "Order Processing",
  "nodes": [
    {
      "parameters": {
        "jsCode": "const { z } = require('zod');\n\nconst OrderSchema = z.object({\n  orderId: z.string().min(1, 'orderId is required'),\n  email: z.string().email('email must be valid'),\n  amount: z.number().positive('amount must be positive'),\n  dryRun: z.boolean().optional().default(false),\n  forceFail: z.boolean().optional(),\n  simulateTransientFailure: z.boolean().optional(),\n  useMockPayment: z.boolean().optional().default(false)\n});\n\nconst input = $input.first().json;\nconst parsed = OrderSchema.safeParse(input);\n\nif (!parsed.success) {\n  return [\n    {\n      json: {\n        valid: false,\n        success: false,\n        message: 'Invalid payload',\n      }\n    }\n  ];\n}\n\nreturn [\n  {\n    json: {\n      valid: true,\n      success: true,\n      message: 'Payload validated',\n      ...parsed.data\n    }\n  }\n];"
      },
      "id": "e90a890a-d4a8-4ab6-82c7-a6afa293dcb3",
      "name": "Zod Validation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4400,
        0
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "leftValue": "={{ String($json.success) }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              },
              "id": "72f662e1-cacd-4123-9499-987079a7ac19"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f9343df7-e125-4db6-8101-60132947b0c6",
      "name": "Validation Result IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -4176,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: false, message: $json.message ?? 'Invalid payload' } }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "f096d785-c247-4446-8e4c-e3ba13aa19b3",
      "name": "Respond Validation Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -3920,
        176
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, message: 'Dry run completed: payment not executed', dryRun: true, orderId: $json.orderId } }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "a40cc9a9-9682-4d4e-80b4-ce0e55763e8a",
      "name": "Respond Dry Run",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -3712,
        -144
      ]
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ String($json.duplicate) }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          }
        },
        "options": {}
      },
      "id": "de2d8390-111e-45c9-b79f-cbb4581059da",
      "name": "Duplicate IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -3488,
        64
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: false, message: $json.message ?? 'Duplicate order detected', orderId: $json.orderId } }}",
        "options": {
          "responseCode": "={{$json.message === 'Duplicate order detected' ? 409 : 400}}"
        }
      },
      "id": "b23e3e43-3c2b-4204-a569-0f1e4b86ea39",
      "name": "Respond Duplicate",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -3248,
        -16
      ]
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ String($json.success) }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          }
        },
        "options": {}
      },
      "id": "5bf00d33-6a9f-4e26-92cf-9b90cd4461c4",
      "name": "Payment Success IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1344,
        224
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, message: 'Payment processed', paymentId: $json.paymentId ?? null, orderId: $json.orderId ?? null } }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "cc696765-55f5-4492-b4ab-7e59d1897a6d",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1568,
        144
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: false, message: $json.error ?? $json.message ?? 'Payment failed', orderId: $json.orderId ?? null } }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "9ebc1e26-651e-40fc-884a-bfb52aa4e397",
      "name": "Respond Failure",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1568,
        336
      ]
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ String($json.dryRun) }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          }
        },
        "options": {}
      },
      "id": "490811da-6ba8-4809-a4ae-1ef9d9e5bbe3",
      "name": "Dry Run Check1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -3920,
        -32
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "order",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "9d20d3c0-1706-422e-a8ff-b1a09e5b2fd2",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -4832,
        0
      ],
      "webhookId": "b0ca8c29-8f87-45d4-8995-77dd3a3c8439"
    },
    {
      "parameters": {
        "jsCode": "const source = $input.first().json;\n\nlet payload = source;\nif (source && typeof source === 'object' && source.body !== undefined) {\n  payload = source.body;\n}\n\nif (typeof payload === 'string') {\n  try {\n    payload = JSON.parse(payload);\n  } catch {\n    payload = {};\n  }\n}\n\nif (!payload || typeof payload !== 'object' || Array.isArray(payload)) {\n  payload = {};\n}\n\nreturn [{ json: payload }];"
      },
      "id": "bd74acc8-1020-4873-8bf4-6b9dbde0792b",
      "name": "Normalize Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -4608,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst path = fs.existsSync('/data')\n  ? '/data/processed-orders.json'\n  : './data/processed-orders.json';\n\ntry {\n  if (!fs.existsSync(path)) {\n    fs.writeFileSync(path, JSON.stringify([], null, 2));\n  }\n\n  const data = JSON.parse(fs.readFileSync(path, 'utf8'));\n  const orderId = $json.orderId;\n\n  if (!Array.isArray(data)) {\n    return [{\n      json: {\n        success: false,\n        duplicate: true,\n        message: 'Idempotency store is corrupted',\n        orderId\n      }\n    }];\n  }\n\n  if (data.includes(orderId)) {\n    return [{\n      json: {\n        success: false,\n        duplicate: true,\n        message: 'Duplicate order detected',\n        orderId\n      }\n    }];\n  }\n\n  data.push(orderId);\n  fs.writeFileSync(path, JSON.stringify(data, null, 2));\n\n  return [{\n    json: {\n      ...$json,\n      duplicate: false\n    }\n  }];\n} catch (error) {\n  return [{\n    json: {\n      success: false,\n      duplicate: true,\n      message: 'Idempotency check failed: ' + error.message,\n      orderId: $json.orderId\n    }\n  }];\n}"
      },
      "id": "c8ed4ccb-54a5-444d-9777-b908bc789307",
      "name": "Check Duplicate Order",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3712,
        64
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://payment-mock:3001/pay",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { orderId: $json.orderId, amount: $json.amount, forceFail: $json.forceFail ?? false, simulateTransientFailure: $json.simulateTransientFailure ?? false } }}",
        "options": {}
      },
      "id": "21d5a942-6e2b-4701-be7f-10485684c878",
      "name": "Process Payment",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1120,
        320
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "id": "0b8d9af4-f4d3-4b72-956e-7be8f2121da1",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -960,
        -120
      ]
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"orderId\": \"ORD-MANUAL-1001\",\n  \"email\": \"manual@example.com\",\n  \"amount\": 120,\n  \"dryRun\": false,\n  \"useMockPayment\": true\n}"
      },
      "id": "8dd7c4fa-c9a3-4a9f-89f5-df2ec6d26f1c",
      "name": "Set Test Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -720,
        -120
      ]
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ String($json.useMockPayment) }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          }
        },
        "options": {}
      },
      "id": "f1384a2f-7ed7-49b3-96f1-2d04f5dd952a",
      "name": "Use Mock Payment IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        896,
        224
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    success: true,\n    message: 'Payment accepted (mock branch)',\n    paymentId: 'pay_mock_inline_001',\n    orderId: $json.orderId\n  }\n}];"
      },
      "id": "37e843fd-e8cb-4ab0-8a2f-5b688f3d2f95",
      "name": "Mock Payment Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        128
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Zod Validation": {
      "main": [
        [
          {
            "node": "Validation Result IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validation Result IF": {
      "main": [
        [
          {
            "node": "Dry Run Check1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Validation Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Duplicate IF": {
      "main": [
        [
          {
            "node": "Respond Duplicate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Use Mock Payment IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Payment Success IF": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dry Run Check1": {
      "main": [
        [
          {
            "node": "Respond Dry Run",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check Duplicate Order",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Normalize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Input": {
      "main": [
        [
          {
            "node": "Zod Validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Duplicate Order": {
      "main": [
        [
          {
            "node": "Duplicate IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Payment": {
      "main": [
        [
          {
            "node": "Payment Success IF",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Set Test Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Test Input": {
      "main": [
        [
          {
            "node": "Normalize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Use Mock Payment IF": {
      "main": [
        [
          {
            "node": "Mock Payment Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Process Payment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mock Payment Response": {
      "main": [
        [
          {
            "node": "Payment Success IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "5888d1c4-bd7b-4197-a162-a7f4e03261a0",
  "meta": {
    "instanceId": "a75ba6d6e649c0d7ec940f1b21d0078206e99e75fdaa856f9741209be371d39a"
  },
  "id": "VCbbgFG7XDwRF6HG",
  "tags": []
}
