workflows/order-processing.json
{
  "name": "Order Processing",
  "nodes": [
    {
      "parameters": {
        "jsCode": "const { z } = require('zod');\n\nconst OrderSchema = z.object({\n  orderId: z.string().min(1, 'orderId is required'),\n  email: z.string().email('email must be valid'),\n  amount: z.number().positive('amount must be positive'),\n  dryRun: z.boolean().optional().default(false),\n  forceFail: z.boolean().optional(),\n  simulateTransientFailure: z.boolean().optional()\n});\n\nconst input = $input.first().json;\nconst parsed = OrderSchema.safeParse(input);\n\nif (!parsed.success) {\n  return [\n    {\n      json: {\n        valid: false,\n        success: false,\n        message: 'Invalid payload',\n        errors: parsed.error.flatten()\n      }\n    }\n  ];\n}\n\nreturn [\n  {\n    json: {\n      valid: true,\n      success: true,\n      message: 'Payload validated',\n      ...parsed.data\n    }\n  }\n];"
      },
      "id": "1e76ba4c-eb29-4b35-aa9d-5662b4efb647",
      "name": "Zod Validation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -256,
        192
      ]
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ String($json.success) }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          }
        },
        "options": {}
      },
      "id": "f9243554-568f-4498-9d9c-5f03d2c1f0fb",
      "name": "Validation Result IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -32,
        192
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: false, message: $json.message ?? 'Invalid payload', errors: $json.errors ?? null } }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "342195e9-6ef4-4c26-b48a-cd1bc6d50448",
      "name": "Respond Validation Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        224,
        368
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, message: 'Dry run completed: payment not executed', dryRun: true, orderId: $json.orderId } }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "b91fb6ff-4fc4-4a7a-b37f-a693fcc24c22",
      "name": "Respond Dry Run",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        432,
        48
      ]
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ String($json.duplicate) }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          }
        },
        "options": {}
      },
      "id": "51840c0c-a06c-4604-8d37-a5a73e540b1b",
      "name": "Duplicate IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        656,
        256
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: false, message: $json.message ?? 'Duplicate order detected', orderId: $json.orderId } }}",
        "options": {
          "responseCode": "={{$json.message === 'Duplicate order detected' ? 409 : 400}}"
        }
      },
      "id": "93cded03-5a71-44bd-ba41-c90eefb04812",
      "name": "Respond Duplicate",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        896,
        176
      ]
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ String($json.success) }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          }
        },
        "options": {}
      },
      "id": "43e6d74e-e5b6-469e-bca2-5e1a4185b0a8",
      "name": "Payment Success IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1120,
        320
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, message: 'Payment processed', paymentId: $json.paymentId ?? null, orderId: $json.orderId ?? null } }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "bbe33c4f-b4a2-4eeb-bd31-fdb577c7d4ef",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1344,
        240
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: false, message: $json.error ?? $json.message ?? 'Payment failed', orderId: $json.orderId ?? null } }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "961690f7-f95f-4566-8f12-516073e7fabe",
      "name": "Respond Failure",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1344,
        416
      ]
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{ String($json.dryRun) }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          }
        },
        "options": {}
      },
      "id": "2d52c24a-f08a-47b9-9dbd-f48ff81dc422",
      "name": "Dry Run Check1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        224,
        160
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "order",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "cc5a96db-e8f6-4182-abf3-444dee587a6e",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -688,
        192
      ],
      "webhookId": "b0ca8c29-8f87-45d4-8995-77dd3a3c8439"
    },
    {
      "parameters": {
        "jsCode": "const source = $input.first().json;\n\nlet payload = source;\nif (source && typeof source === 'object' && source.body !== undefined) {\n  payload = source.body;\n}\n\nif (typeof payload === 'string') {\n  try {\n    payload = JSON.parse(payload);\n  } catch {\n    payload = {};\n  }\n}\n\nif (!payload || typeof payload !== 'object' || Array.isArray(payload)) {\n  payload = {};\n}\n\nreturn [{ json: payload }];"
      },
      "id": "fdaed72b-9af3-45da-8bba-6c103fe6b7d3",
      "name": "Normalize Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -464,
        192
      ]
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst path = fs.existsSync('/data')\n  ? '/data/processed-orders.json'\n  : './data/processed-orders.json';\n\ntry {\n  if (!fs.existsSync(path)) {\n    fs.writeFileSync(path, JSON.stringify([], null, 2));\n  }\n\n  const data = JSON.parse(fs.readFileSync(path, 'utf8'));\n  const orderId = $json.orderId;\n\n  if (!Array.isArray(data)) {\n    return [{\n      json: {\n        success: false,\n        duplicate: true,\n        message: 'Idempotency store is corrupted',\n        orderId\n      }\n    }];\n  }\n\n  if (data.includes(orderId)) {\n    return [{\n      json: {\n        success: false,\n        duplicate: true,\n        message: 'Duplicate order detected',\n        orderId\n      }\n    }];\n  }\n\n  data.push(orderId);\n  fs.writeFileSync(path, JSON.stringify(data, null, 2));\n\n  return [{\n    json: {\n      ...$json,\n      duplicate: false\n    }\n  }];\n} catch (error) {\n  return [{\n    json: {\n      success: false,\n      duplicate: true,\n      message: 'Idempotency check failed: ' + error.message,\n      orderId: $json.orderId\n    }\n  }];\n}"
      },
      "id": "05b93bc9-e906-4277-adb8-279aa087c480",
      "name": "Check Duplicate Order",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        432,
        256
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://payment-mock:3001/pay",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { orderId: $json.orderId, amount: $json.amount, forceFail: $json.forceFail ?? false, simulateTransientFailure: $json.simulateTransientFailure ?? false } }}",
        "options": {
          "ignoreResponseCode": true
        }
      },
      "id": "12f0d9e1-db65-4363-a81f-34c7a2027f22",
      "name": "Process Payment",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        896,
        320
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000
    }
  ],
  "pinData": {},
  "connections": {
    "Zod Validation": {
      "main": [
        [
          {
            "node": "Validation Result IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validation Result IF": {
      "main": [
        [
          {
            "node": "Dry Run Check1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Validation Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Duplicate IF": {
      "main": [
        [
          {
            "node": "Respond Duplicate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Process Payment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Payment Success IF": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Failure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dry Run Check1": {
      "main": [
        [
          {
            "node": "Respond Dry Run",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check Duplicate Order",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Normalize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Input": {
      "main": [
        [
          {
            "node": "Zod Validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Duplicate Order": {
      "main": [
        [
          {
            "node": "Duplicate IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Payment": {
      "main": [
        [
          {
            "node": "Payment Success IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "7289e3f6-54e2-4fc8-a542-29e931d025a8",
  "meta": {
    "instanceId": "4c73094ef6f69f62cfb73a526ad4ed3c04092351a2ee777b5a033f591ccd45ca"
  },
  "id": "zaLldAVBFFWQUo7o",
  "tags": []
}
